@import "main";

.page-list {
	list-style: none;
	margin: 0;
	margin-bottom: 20px;
	padding: 0;

	.page-list-item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: nowrap;

		padding: 1em;
		border-top: 1px solid #ccc;

		&:first-child {
			border: none;
		}

		a {
			text-decoration: none;
		}

		.thumb-container {
			position: relative;
			display: inline-block;;
			width: 40px;
			height: 40px;
			border-radius: 20px;
			overflow: hidden;
			margin-right: 20px;

			.thumb-img {
				width: 100%;
				position: absolute;
			}
		}

		.title {
			display: flex;
			align-items: center;
			justify-content: flex-start;
		}

		.button-group {
			display: inline-block;
			flex-shrink: 0;
			display: flex;
			align-items: center;

			.btn {
				margin-left: 12px;
				font-size: 10pt;
			}
		}
	}
}

.page-btn {
	margin-left: 20px;

	&.hidden {
		display: none;
	}
}