<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Epos Dashboard</title>
    <link rel="stylesheet" type="text/css" href="static/admin.css">
</head>
<body>

	<nav>
		<a href="/">
			<svg class="icon" viewBox="2 2 11 16" width="10px">
				<polyline fill="none" stroke="#fff" stroke-width="2px" points="10,4 4,10 10,16"/>
			</svg>
			<span>Home</span>
		</a>
		<a href="/logout">
			<span>Logout</span>
			<!--<svg class="icon" viewBox="2 2 11 16" width="10px">
				<polyline fill="none" stroke="#fff" stroke-width="2px" points="4,4 10,10 4,16"/>
			</svg>-->
		</a>
	</nav>

	<main>
		<h1>Epos Dashboard</h1>
	
		<h2>Pages</h2>
		
		<ul class="page-list">
			{{range .Posts}}
			<li class="page-list-item">
				<a href="/pages/{{.URL}}">{{.Title}}</a>
				<div class="button-group">
					<a class="btn btn-inverse btn-borderless" href="/admin/{{.URL}}/rekey">Re-Key</a>
					<a class="btn btn-warning btn-inverse btn-borderless" href="/pages/{{.URL}}/{{.Key}}">Edit</a>
					<a class="btn btn-danger btn-inverse btn-borderless" href="/pages/{{.URL}}/{{.Key}}/delete">Delete</a>
				</div>
			</li>
			{{end}}
		</ul>

		<div class="clear">
			<div class="float-right">
				<a href="/admin?page={{.Prev}}" class="btn page-btn {{if eq .Prev .Page}}hidden{{end}}">
					<svg class="icon" viewBox="2 2 11 16" width="10px">
						<polyline fill="none" stroke="#444" stroke-width="2px" points="10,4 4,10 10,16"/>
					</svg>
				</a>
				<a href="/admin?page={{.Next}}" class="btn page-btn {{if eq .Next .Page}}hidden{{end}}">
					<svg class="icon" viewBox="2 2 11 16" width="10px">
						<polyline fill="none" stroke="#444" stroke-width="2px" points="4,4 10,10 4,16"/>
					</svg>
				</a>
			</div>
		</div>
		

		<h2>Actions</h2>
		<p>
			<form action="/admin/new" method="POST">

				<div class="input-container">
					<label for="url">Create new page</label>
					<input type="text" name="title" placeholder="Title">
					<input class="btn btn-highlight" type="submit" value="Create">
				</div>

			</form>
			
		</p>
		<p>
			<a href="/admin/account">Manage Account</a>
		</p>
	</main>

</body>
</html>