<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Epos Dashboard</title>
    <link rel="stylesheet" type="text/css" href="static/admin.css">
</head>
<body onload="init()">

	{{template "nav" .}}

	<main>
		<h1>Epos Dashboard</h1>
	
		<h2>Pages</h2>
		
		<ul class="page-list">
			{{range .Posts}}
			<li class="page-list-item" id="page-{{.URL}}">
				<a href="/pages/{{.URL}}">{{.Title}}</a>
				<div class="button-group">
					<input type="checkbox" id="public-{{.URL}}" name="visible" value="{{ .Visible }}" {{if .Visible}}checked{{end}} >
					<label class="btn btn-inverse btn-borderless" style="margin-bottom: 0;" for="public-{{.URL}}" onclick="setVisibility(event)"><span style="pointer-events: none;"></span> Public</label>
					<a class="btn btn-inverse btn-borderless" href="/admin/{{.URL}}/rekey">Re-Key</a>
					<a class="btn btn-warning btn-inverse btn-borderless" href="/pages/{{.URL}}/{{.Key}}">Edit</a>
					<a class="btn btn-danger btn-inverse btn-borderless" href="/pages/{{.URL}}/{{.Key}}/delete">Delete</a>
				</div>
			</li>
			{{end}}
		</ul>

		<div class="clear">
			<div class="float-right">
				<a href="/admin?page={{.Prev}}" class="btn page-btn {{if eq .Prev .Page}}hidden{{end}}">
					<svg class="icon" viewBox="2 2 11 16" width="10px">
						<polyline fill="none" stroke="#444" stroke-width="2px" points="10,4 4,10 10,16"/>
					</svg>
				</a>
				<a href="/admin?page={{.Next}}" class="btn page-btn {{if eq .Next .Page}}hidden{{end}}">
					<svg class="icon" viewBox="2 2 11 16" width="10px">
						<polyline fill="none" stroke="#444" stroke-width="2px" points="4,4 10,10 4,16"/>
					</svg>
				</a>
			</div>
		</div>
		

		<h2>Actions</h2>
		
		<div class="form">
			<div class="input-container" id="create-page-form">
				<label for="title">Create new page</label>
				<input id="title" type="text" name="title" placeholder="Title" onkeypress="createKeyPress(event)">
				<input class="btn btn-highlight" type="submit" value="Create" onclick="createPage()">
				<div class="error"></div>
			</div>
		</div>
		
		<p>
			<a href="/admin/account">Manage Account</a>
		</p>
		<h2>Account Creation</h2>
		<button id="create-account" onclick="generateAccountLink()">
			Generate Account Link
		</button>
		<h3>Active Account Links</h3>
		<ul id="account-links">

		</ul>
	</main>

</body>

<script src="/static/network.js" type="text/javascript"></script>
<script>

	function init() {

	    fetchAccountLinks();

	}

	function fetchAccountLinks() {

	    makeRequest({
			method: "POST",
			uri: "/admin/users/active-keys",
			load: function(xhr, status, response) {

			    /* Success:
			    {
			    	"success": true,
			    	"data": ["xxxxxxxxx", "xxxxxxxxxx", "xxxxxxxxx", ...]
			    }
			    */
			    if (response.success) {

			        response.data.forEach(function(key) {
			           addKeyToList(key);
					});

				} else {
			        alert(response.error);
				}

			},
			failure: function(xhr, status, response) {
                alert(status + ": " + response);
			}
		});

	}

	function generateAccountLink() {

	    makeRequest({
			method: "POST",
			uri: "/admin/users/actions/generate-account",
			load: function(xhr, status, response) {

			    /*
			    On a successful response:
			    {
			    	"success": true,
			    	"data": <new account gen key>
				}
			     */
			    if (response.success) {

					addKeyToList(response.data);

				} else {
			        alert(response.error);
				}

			},
			failure: function(xhr, status, response) {
			    alert(status + ": " + response);
			}
		});

	}

	function addKeyToList(key) {

	    var li = document.createElement("li");

	    var a = document.createElement("a");
		a.style = a.style + "\nmargin-right: 20px;"
	    a.href = "/admin/users/actions/create-account/" + key;
	    var text = document.createTextNode("/admin/users/actions/create-account/" + key);
	    a.appendChild(text);

		var deactivate = document.createElement("a");

		deactivate.classList.add("btn", "btn-highlight")

		deactivate.href = "/admin/users/actions/deactivate/" + key;
		var deactivateText = document.createTextNode("Revoke");
		deactivate.appendChild(deactivateText);

	    li.appendChild(a);
		li.appendChild(deactivate);
		

	    var keyList = document.getElementById("account-links");
	    keyList.appendChild(li);

	}

    function createKeyPress(e) {

        if (e === null || e.keyCode !== 13) {
            return;
        }

        createPage();

    }

	function createPage() {

	    var pageTitle = document.getElementsByName("title")[0].value;
	    var params = {
			"title": pageTitle
		};

	    var error = document.querySelector("#create-page-form > .error");
		var input = document.querySelector("#create-page-form > input[type=text]");

	    makeRequest({
			method: "POST",
			uri: "/admin/new",
			formParams: params,
			load: function(xhr, status, response) {

			    // Remove any existing error
				error.style.display = "none";
				error.style.color = "#EB3349";
				error.style.fontWeight = "bold";
				error.style.fontSize = "12pt";

				input.className = "";

                if (response.success) {
                    var redirectTo = response.data;
                    window.location.replace(redirectTo);
                } else {
                    error.style.display = "inline";
                    error.innerHTML = response.error;
					input.className = "error";
                    return false;
                }

			},
			failure: function(xhr, status, response) {

                console.error("Create failed: " + status);
                error.style.display = "inline";
                error.innerHTML = status + ": An unknown error occurred";

			}
        });

	}

	function setVisibility(e) {
		console.log(e.target);

		var checkbox = e.target.previousElementSibling;
  
		var valueToSet = checkbox.checked ? 0 : 1;
		var pageIdentifier = checkbox.id.slice(7);

		makeRequest({
			method: "GET",
			uri: "/admin/"+pageIdentifier+"/visibility/"+valueToSet,
		});

		
	}

</script>

</html>