<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Epos Dashboard</title>
</head>
<body>

    <h1>Epos Dashboard</h1>
    
    

    <h2>Pages</h2>

    {{range .}}
        <div class="pageinfo">
            <a href="/page/{{.URL}}/{{.Key}}">{{.Title}}</a>
        </div>
    {{end}}
    

    <h2>Actions</h2>
    <p>
        <form action="/admin/new" method="POST">
            <input type="text" name="title" placeholder="New Title">
            <input type="submit" value="Create">

        </form>
        
    </p>


</body>
</html>