<html>

<head>
	<title>Editing: {{ .Title }}</title>

	<link rel="stylesheet" type="text/css" href="/static/editor.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Raleway:300,400,700" rel="stylesheet">
</head>

<body>

	<nav>
		<a href="/admin" class="back" class="clear">
				<svg class="icon" viewBox="2 2 11 16" width="16px">
					<polyline fill="none" stroke="#fff" stroke-width="2px" points="10,4 4,10 10,16"/>
				</svg>
				<span>Dashboard</span>
		</a>

		<a href="/page/{{ .URL }}" class="page" class="clear">
				<span>Page</span>
				<svg class="icon" viewBox="2 2 11 16" width="16px">
					<polyline fill="none" stroke="#fff" stroke-width="2px" points="4,4 10,10 4,16"/>
				</svg>
		</a>
	</nav>

	<main>

		<h1>Edit Page</h1>

		<form method="POST" action="/page/{{ .URL }}/{{ .Key }}/update">
			<input type="text" id="title" name="title" placeholder="Title" value="{{ .Title }}">

			<input type="text" name="author" placeholder="Author" value="{{ .Author }}">

			<input type="text" name="target" placeholder="Redirect URL" value="{{ .Target }}">	

			<textarea name="summary" placeholder="Summary..." id="summary">{{.Summary}}</textarea>

			<hr/>

			<textarea name="body" id="body" placeholder="#It was a dark and dreary night...">{{.Body}}</textarea>

			<div class="float-right">
				<div id="public-container">
					<input type="checkbox" id="public" name="visible" value="{{ .Visible }}" {{if .Visible}}checked{{end}}>
					<label for="public"><span></span> Public</label>
				</div>
				<input type="submit" value="Save">
			</div>
		</form>
	</main>

</body>

	<script src="https://rawgit.com/jackmoore/autosize/master/dist/autosize.min.js"></script>
	<script src="/static/editor.js"></script>
</html>