<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Epos Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/static/admin.css">
</head>
<body>

	{{template "nav" .}}

	<main>
		<h1>File Management</h1>
	
		<h2>Files</h2>
		
		<ul class="page-list">
			{{range .}}
			
				<li class="page-list-item">
					<div class="title">
						<div class="thumb-container">
							<img src="/files/{{.Name}}" alt="Thumbnail" class="thumb-img">
						</div>
						<a href="/files/{{.Name}}">{{.Name}}</a>
					</div>
					<div class="button-group">
						<button class="btn btn-inverse btn-borderless" onclick='clip("/files/{{.Name}}")'>Copy URL</button>
						<button class="btn btn-danger btn-inverse btn-borderless">Delete</button>
					</div>
				</li>
						
			{{end}}
		</ul>

		
	</main>
</body>

<script>
	function clip(text) {   
		text = text.replace(" ", "%20")

		var copyElement = document.createElement('input');    
		copyElement.setAttribute('type', 'text');   
		copyElement.setAttribute('value', text);    
		copyElement = document.body.appendChild(copyElement);   
		copyElement.select();   
		document.execCommand('copy');   
		copyElement.remove();
	}


</script>
</html>