<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Epos Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/static/admin.css">
</head>
<style>
	.resize-form {
		margin-top: 20px;
		flex-basis: 100%;
		display: none;
	}

	.resize-form.open {
		display: block;
	}
</style>
<body>

	{{template "nav" .}}

	<main>
		<h1>File Management</h1>
	
		<h2>Files</h2>
		
		<ul class="page-list">
			{{range $index, $results := .}}  
			
				<li class="page-list-item" style="flex-wrap: wrap;">
					<div class="title">
						<div class="thumb-container">
							<img src="/files/{{.Name}}" alt="Thumbnail" class="thumb-img">
						</div>
						<a href="/files/{{.Name}}">{{.Name}}</a>
					</div>
					<div class="button-group">
						<button class="btn btn-inverse btn-borderless" onclick='clip("/files/{{.Name}}")'>Copy URL</button>
						{{if .Resizeable}}
						<button class="btn btn-inverse btn-borderless" onclick="toggleResize({{ $index }})">Resize</button>
						{{end}}
						<button class="btn btn-danger btn-inverse btn-borderless">Delete</button>
					</div>
					<div class="input-container resize-form" id="resize-form-{{ $index }}">
						<label for="title">Resize Image</label>
						<input id="name" type="text" name="name" placeholder="Name" style="margin-bottom: 0;">
						<input id="width" type="text" name="width" placeholder="Width" style="margin-bottom: 0;">
						<input id="height" type="text" name="height" placeholder="Height" style="margin-bottom: 0;">

						<input class="btn btn-highlight" type="submit" value="Resize" onclick="uploadFile()" style="margin-bottom: 0;">
						<div class="error"></div>
					</div>
				</li>
						
			{{end}}
		</ul>

		<h2>Actions</h2>

		<form method="POST" action="/admin/files/new">
			<div class="input-container" id="create-page-form">
				<label for="title">Upload File</label>
				<input id="file" type="file" name="file" placeholder="File">
				<input class="btn btn-highlight" type="submit" value="Upload">
				<div class="error"></div>
			</div>
		</form>
		
	</main>
</body>
<script>
	function clip(text) {   
		text = text.replace(" ", "%20")

		var copyElement = document.createElement('input');    
		copyElement.setAttribute('type', 'text');   
		copyElement.setAttribute('value', text);    
		copyElement = document.body.appendChild(copyElement);   
		copyElement.select();   
		document.execCommand('copy');   
		copyElement.remove();
	}

	function toggleResize(index) {
		resize = document.getElementById("resize-form-" + index);

		if (resize.className.includes("open")) {
			resize.className = "input-container resize-form "
		}
		else {
			resize.className = "input-container resize-form open"
		}
	}

</script>
</html>